*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
   max-width: 697px;
    height: 40px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;

    box-shadow: 0px 2px 10px;
    align-items: center;
    justify-content: space-between;

}
.container-logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.youlove{
    margin-left: 20px;
    width: 48px;
    height: 22px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #AAAAAA;
}

.logo-lovt {
    width: 63px;
    height: 25px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    color: #777777;
}
img{
    width: 39px;
    height: 22px;
}
.barrinhas {
    width:35px ;
    height: 23;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 10px;
}

.navbar a{
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 5px;

}

.navbar a:hover{
    background: tan;
    color: white;
}

.banner1 {
    max-width: 608px;
    height: 259px;
    margin: auto;
    background-image: url('/img/Rectangle3.png');
    background-repeat: no-repeat;
    margin-top: 30px;

}

.container-banner2 {
    max-width: 608px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.imagem1 ,.imagem2  {
    width: 256px;
    height: 242px;
    background: #EEEEEE;
}



.imagem-casa1 {
    width: 256px;
    height: 144px;
}

.valor-casa1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.valor  {
    width: 86px;
    height: 33px;

    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    padding-left: 10px;
}

.new {
    width: 48px;
    height: 19px;

    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    
    border-radius: 5px;
    background: #66CDAA;
    margin-right: 5px;
   text-align: center;
    
}

.descricao-casa1 {
    
        width: 231px;
        height: 33px;
        margin: auto;
        font-family: 'Ropa Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        text-align: justify;
        color: #555555;
}

.descricao-casa2{
    width: 231px;
    height: 33px;
    margin: auto;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-align: justify;
    color: #555555;
}

.sale {
    width: 48px;
    height: 19px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    background: #2F4F4F;
    margin-right: 5px;
    text-align: center;
}

.your-style {
    max-width: 608px;
    height: 80px;
    margin: auto;
    background-repeat: no-repeat;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #888888;
}

.container-banner3 , .container-banner4 , .container-banner5{
    max-width: 608px;
    height: 80px;
    margin: auto;
    background-repeat: no-repeat;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    color: white;
}

.container-banner3 {
    background-image: url('/img/sala1.jpg');
    
}

.container-banner4 {
    background-image: url('/img/sala2.jpg');
    
}

.container-banner5 {
    background-image: url('/img/novaimg.png');
}


.rodape {
    width: 697px;
    height: 243px;
    background: #333333;
    display: flex;
    margin: auto;
    margin-top: 30px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.mapa {
    width: 252px;
    height: 163px;
    background-image: url('/img/image\ 1.png');
    
}

.contato {
    width: 175px;
    height: 95px;
    color: white;
}


@media(max-width: 481px) {
    .barrinhas {
        display: none;
    }

    .navbar {
        display: none;
    }

    .imagem1 {
        margin-bottom: 15px;
    }

    .container-banner2 {
        display: block;
        margin: auto;
        padding: 60px;
        padding-bottom: 10px;
        
    }

    
}